* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  text-decoration: none;
  border: none;
  padding: 18px 35px;
  color: white;
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
}

.btn-primary-holo {
  text-decoration: none;
  border: none;
  padding: 18px 35px;
  color: #fd6e0a;
  background: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}

.btn-primary:hover,
.btn-primary-holo:hover {
  cursor: pointer;
}

header {
  background: #fff8f3;
  background-image: url("assets/header_bg.png"), url("assets/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

nav button {
  font-size: 20px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-section {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}

nav li,
button {
  list-style: none;
  margin-right: 50px;
  color: #474747;
  /* padding: 10px 30px 10px; */
}

nav a {
  text-decoration: none;
}

.logo-section {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  padding-left: 200px;
}

.intro-section {
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-section h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.intro-section h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.intro-section p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 584px;
  height: 676px;
}

.intro-content {
  max-width: 585px;
}

.main-title {
  font-size: 35px;
  font-weight: 700;
}

main section {
  padding: 130px 200px 130px 200px;
  display: block;
  text-align: center;
  max-width: 1140px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* .about-section {
  padding: 130px 200px 130px 200px;
  display: block;
  text-align: center;
  max-width: 1140px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
} */

.about-section {
  background: #fff8f3;
  margin: 130px 200px;
}

.about-section p,
.work-section p {
  margin: 30px 0px 30px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.about-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-details h5,
.about-details span {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.about-details span {
  color: #474747;
  font-weight: bold;
}

.work-section {
  border-radius: 10px;
  margin: 130px 200px 50px;
  padding: 130px 200px 0px 200px;
}

.work-section p {
  margin: 30px 0px 0px;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px 50px 200px;
}

.tech div {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  color: green;
  padding: 30px;
  margin: 0px 24px 0px;
  max-height: 370px;
}

.tech h6 {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
}

.tech p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.resume {
  margin: 130px 200px 50px;
}

.resume .main-title {
  margin-bottom: 100px;
}

.resume-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.resume-content div {
  display: block;
}

.resume-content h4 {
  margin-bottom: 30px;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-content h5 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-content h6 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}

.resume-content p {
  max-width: 511px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

hr {
  width: 558px;
  background: #d1d1d1;
  margin: 30px 30px 30px 0px;
}

.resume .btn-primary {
  margin-top: 20px;
}

footer {
  display: flex;
  background: #fff8f3;
  padding: 130px 200px 130px 200px;
  text-align: left;
  justify-content: space-around;
}

footer h3 {
  margin-bottom: 28px;
}

footer form input,
textarea {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

footer form input {
  display: block;
  border-radius: 5px;
  width: 461px;
  height: 64px;
  padding-left: 30px;
  margin-bottom: 24px;
  border: none;
}

footer form textarea {
  width: 461px;
  height: 180px;
  padding-left: 30px;
  padding-top: 18px;
  resize: none;
  border: none;
  margin-bottom: 24px;
  border-radius: 5px;
}

footer form .btn-primary {
  width: 150px;
  height: 64px;
}

footer div p {
  max-width: 562px;
  margin-bottom: 30px;
}

.footer-icons img {
  margin-right: 24px;
}
