* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  text-decoration: none;
  border: none;
  padding: 18px 35px;
  color: white;
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
}

.btn-primary:hover {
  cursor: pointer;
}

header {
  background: #fff8f3;
}

nav button {
  font-size: 20px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-section {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}

nav li,
button {
  list-style: none;
  margin-right: 50px;
  color: #474747;
  /* padding: 10px 30px 10px; */
}

nav a {
  text-decoration: none;
}

.logo-section {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  padding-left: 200px;
}

.about-section {
  padding: 30px 30px 30px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.about-section h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.about-section p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.profile-pic {
  width: 584px;
  height: 676px;
}
